Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. A database is a structured collection of data that is organized and stored in a way that allows for efficient data retrieval, management, and manipulation. Databases are used to store, manage, and access a wide variety of information, from simple lists to complex and interconnected data used in applications, websites, and more.

There are two main categories of databases: SQL (Structured Query Language) databases and NoSQL (Not Only SQL) databases.

SQL Databases:
1 Data Model:
   -SQL databases follow a structured and relational data model.
   -Data is organized into tables with predefined schemas that define the structure of the data, including column names and data types.
   -Tables can be related to each other using primary keys and foreign keys, allowing for complex data relationships.

2 Query Language:
   -SQL databases use the SQL query language for data manipulation.
   -SQL provides powerful querying capabilities, including SELECT, INSERT, UPDATE, and DELETE statements, as well as JOIN operations for combining data from multiple tables.

3 ACID Compliance:
   -SQL databases are typically ACID (Atomicity, Consistency, Isolation, Durability) compliant, which ensures data integrity and reliability, making them suitable for applications that require strict data consistency.

4 Use Cases:
   -SQL databases are a good fit for applications where data relationships are well-defined and unlikely to change frequently.
   -They are commonly used in traditional relational database management systems (RDBMS) like MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.

NoSQL Databases:
1 Data Model:
   -NoSQL databases support various data models, including document, key-value, column-family, and graph databases.
   -Data is stored in a more flexible, semi-structured, or unstructured format.
   
2 Query Language:
   -NoSQL databases use different query languages or APIs depending on the type of database.
   -Some NoSQL databases provide query languages, while others use simple CRUD (Create, Read, Update, Delete) operations.

3 ACID Compliance:
   -NoSQL databases may sacrifice full ACID compliance in favor of performance, scalability, and flexibility. Some provide eventual consistency instead.

4 Use Cases:
   -NoSQL databases are suitable for applications that require high scalability and can handle large amounts of unstructured or semi-structured data.
   -They are often used in web applications, real-time analytics, content management systems, and big data applications.
   -Examples of NoSQL databases include MongoDB (document), Redis (key-value), Cassandra (column-family), and Neo4j (graph).

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans. DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used for defining, managing, and modifying the structure of a database. DDL statements are responsible for creating, altering, and deleting database objects like tables, indexes, and constraints. DDL statements are used to define the schema or structure of a database.

CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, or views.
Example: Creating a new table in a database to store information about employees.

CREATE TABLE Employee (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Department VARCHAR(50)
);

DROP:
The DROP statement is used to delete database objects, such as tables or indexes.
Example: Deleting a table that is no longer needed.

DROP TABLE Employee;

ALTER:
The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or deleting columns in a table.
Example: Adding a new column to an existing table.

ALTER TABLE Employee
ADD Email VARCHAR(100);

TRUNCATE:
The TRUNCATE statement is used to remove all rows from a table while keeping the table structure intact. It is faster than the DELETE statement, as it does not log individual row deletions.
Example: Removing all data from the Employee table.

TRUNCATE TABLE Employee;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans. DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used for manipulating or modifying data stored in a database. DML statements are responsible for performing operations on the data within database objects, such as tables. The three primary DML statements are INSERT, UPDATE, and DELETE.

INSERT:
The INSERT statement is used to add new rows of data into a table.
Example: Inserting a new employee record into an Employee table.

INSERT INTO Employee (EmployeeID, FirstName, LastName, Department)
VALUES (1, 'John', 'Doe', 'HR');

This SQL statement inserts a new row into the "Employee" table with the specified values for the columns "EmployeeID," "FirstName," "LastName," and "Department."

UPDATE:
The UPDATE statement is used to modify existing data in a table by specifying new values for one or more columns.
Example: Updating the department for an employee.

UPDATE Employee
SET Department = 'Finance'
WHERE EmployeeID = 1;

This SQL statement updates the "Department" column for the employee with "EmployeeID" equal to 1, changing it from "HR" to "Finance."

DELETE:
The DELETE statement is used to remove one or more rows from a table based on specified conditions.
Example: Deleting an employee record from the Employee table.

DELETE FROM Employee
WHERE EmployeeID = 1;

This SQL statement deletes the row from the "Employee" table where the "EmployeeID" is equal to 1, effectively removing the employee record.

Q4. What is DQL? Explain SELECT with an example.

Ans. DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used for retrieving data from a database. DQL consists primarily of the SELECT statement, which allows you to specify which data you want to retrieve from one or more tables in the database.

SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database.
It allows you to specify the columns you want to retrieve and the conditions that must be met for a row to be included in the result set.
You can also use functions and expressions to manipulate the data retrieved.

Example:
Suppose you have a database table named "Employees" with the following columns: "EmployeeID," "FirstName," "LastName," "Department," and "Salary." You want to retrieve the names and salaries of all employees in the "Finance" department with a salary greater than $50,000.

SELECT FirstName, LastName, Salary
FROM Employees
WHERE Department = 'Finance' AND Salary > 50000;

Q5. Explain Primary Key and Foreign Key.

Ans. Primary Key and Foreign Key are two important concepts in relational database management systems (RDBMS). They are used to define and maintain relationships between tables in a database. 

Primary Key:
A Primary Key is a column or a set of columns in a database table that uniquely identifies each row or record in that table. It enforces data integrity by ensuring that each row has a unique identifier.

Key characteristics of a Primary Key:
Each value in the Primary Key column(s) must be unique within the table.
A Primary Key column cannot contain NULL values, ensuring that every row has a valid identifier.
The values in a Primary Key column should generally not change over time.
Example: Consider an "Employees" table with an "EmployeeID" column as the Primary Key. Each employee would have a unique "EmployeeID."

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    ...
);

Foreign Key:
A Foreign Key is a column or a set of columns in one table that establishes a link or relationship between the data in two tables. It typically refers to the Primary Key of another table, thereby creating a relational connection.

Key characteristics of a Foreign Key:
It ensures that data in the Foreign Key column(s) of one table corresponds to the values in the Primary Key column(s) of another table.
Foreign Keys are used to define and maintain relationships between tables, such as one-to-one, one-to-many, or many-to-many relationships.
Example: Suppose you have two tables, "Orders" and "Customers." The "CustomerID" column in the "Orders" table can be a Foreign Key that references the "CustomerID" column in the "Customers" table. This links each order to a specific customer.

CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    ...
);
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    OrderDate DATE,
    CustomerID INT,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
pip install mysql-connector-python

import mysql.connector

# Database connection parameters
db_config = {
    "host": "your_host",
    "user": "your_username",
    "password": "your_password",
    "database": "your_database",
}

try:
    # Establish a connection to the MySQL database
    connection = mysql.connector.connect(**db_config)

    # Create a cursor object
    cursor = connection.cursor()

    # Execute SQL queries using the cursor
    # For example, let's execute a SELECT query
    query = "SELECT * FROM your_table"
    cursor.execute(query)

    # Fetch and print the results
    results = cursor.fetchall()
    for row in results:
        print(row)

except mysql.connector.Error as err:
    print(f"Error: {err}")
    
finally:
    # Close the cursor and database connection
    if 'cursor' in locals() and cursor is not None:
        cursor.close()
    if 'connection' in locals() and connection.is_connected():
        connection.close()

cursor() Method:
The cursor() method is used to create a cursor object, which is an instance of a class provided by the database connector library.
A cursor is like a pointer or a control structure that allows you to traverse and manipulate rows of data returned by a SQL query. It acts as a temporary workspace for executing SQL statements.

execute() Method:
The execute() method of a cursor is used to execute SQL statements or queries.
You pass an SQL statement or query as a string to the execute() method, and it sends that statement to the database for execution.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans. In an SQL query, the clauses are generally executed in a specific order, and the order of execution is as follows:

1 FROM Clause:
   -The FROM clause specifies the tables from which you want to retrieve data. It is the first clause to be processed.

2 WHERE Clause:
   -The WHERE clause filters the rows returned by the FROM clause based on a specified condition or set of conditions. Rows that do not meet the conditions are excluded from the result set.

3 GROUP BY Clause:
   -The GROUP BY clause is used to group rows from the result set into groups based on the values of one or more columns. It is often used with aggregate functions like SUM, COUNT, AVG, etc., to perform calculations on each group.

4 HAVING Clause:
   -The HAVING clause is used to filter the groups created by the GROUP BY clause based on a condition. It is similar to the WHERE clause but operates on groups rather than individual rows.

5 SELECT Clause:
   -The SELECT clause specifies the columns you want to include in the result set. It also allows you to perform calculations and transformations on the selected columns.

6 DISTINCT Keyword:
   -If the DISTINCT keyword is used, duplicate rows are eliminated from the result set at this stage.

7 ORDER BY Clause:
   -The ORDER BY clause is used to sort the result set based on one or more columns. It determines the order in which the rows are presented in the final output.

8 LIMIT/OFFSET Clause (if applicable):
   -The LIMIT and OFFSET clauses are used for pagination. They limit the number of rows returned and specify the starting row for the result set.