Q1. List any five functions of the pandas library with execution.

i) read_csv(): Used to read data from a CSV file into a DataFrame.

In [ ]:
import pandas as pd
# Read a CSV file
df = pd.read_csv('data.csv')

ii) head(): Displays the first n rows of a DataFrame (default n is 5).

In [ ]:
# Display the first 8 rows of the DataFrame
df.head(8)

iii) groupby(): Groups data based on a specified column and allows you to perform aggregate operations on the groups.

In [ ]:
# Group by the 'Category' column and calculate the mean of 'Value' for each group
grouped = df.groupby('Category')['Value'].mean()

iv) drop(): Removes specified columns or rows from a DataFrame.

In [ ]:
# Drop the 'ColumnToDrop' column
df = df.drop('ColumnToDrop', axis=1)

v) pivot_table(): Creates a pivot table to summarize and aggregate data.

In [ ]:
# Create a pivot table to summarize 'Value' by 'Category' and 'Year'
pivot_table = df.pivot_table(index='Category', columns='Year', values='Value', aggfunc='sum')

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [6]:
import pandas as pd

def reindex_dataframe(df):
    new_index = range(1, 2 * len(df) + 1, 2)
    # Assign the new index to the DataFrame
    df.index = new_index
    return df

data = {'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]}
df = pd.DataFrame(data)
reindex_dataframe(df)
print(df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console. For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [8]:
import pandas as pd
data = { 'Values' : [5,15,25,35,45,55]}
df = pd.DataFrame(data)
df['Values'][0:3].sum()

45

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [10]:
import pandas as pd
data={'Text':['Hamas killed people as if they are stomping on insects',
'A country that knows...: Israel on support from India',
'Modiji, Is India Ready For UCC?']}
df = pd.DataFrame(data)
df['Word_Count'] = df['Text'].apply(lambda x : len(x.split()))
df

                                                Text  Word_Count
0  Hamas killed people as if they are stomping on...          10
1  A country that knows...: Israel on support fro...           9
2                    Modiji, Is India Ready For UCC?           6

Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans. DataFrame.size:

i) DataFrame.size returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and the number of columns.
ii) It returns an integer value.

DataFrame.shape:

i) DataFrame.shape returns a tuple representing the dimensions of the DataFrame, where the first element of the tuple is the number of rows and the second element is the number of columns.
ii) It returns a tuple in the format (num_rows, num_columns).

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
import pandas as pd

# Read an Excel file into a DataFrame
df = pd.read_excel('file.xlsx')

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username'column.

In [21]:
import pandas as pd
data = { 'Email' : ['abhi@gmail.com', 'gusain@gmail.com', 'company@gmail.com', 'wick@gmail.com']}
df = pd.DataFrame(data)

def extract(email):
    return email.split('@')[0]
    
df['username'] = df['Email'].apply(extract)
df

               Email username
0     abhi@gmail.com     abhi
1   gusain@gmail.com   gusain
2  company@gmail.com  company
3     wick@gmail.com     wick

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [12]:
import pandas as pd

data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}

df = pd.DataFrame(data)

def selected(df):
    select = df[(df['A']>5) & (df['B']<10)]
    x = pd.DataFrame(select)
    return x

selected(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [33]:
import pandas as pd

data = {'Values' : [10,20,30,40,50,60,70,80,90,100]}

df = pd.DataFrame(data)

print ('Mean is:-\n', df.mean())
print ('\nMedian is:-\n', df.median())
print('\nStandard deviation is:-\n', df.std())

Mean is:-
 Values    55.0
dtype: float64

Median is:-
 Values    55.0
dtype: float64

Standard deviation is:-
 Values    30.276504
dtype: float64

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [34]:
import pandas as pd

def calculate_moving_average(df, window_size=7):
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.sort_values(by='Date')
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()
    return df

data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-07'],
        'Sales': [100, 120, 90, 80, 110, 130, 105]}

df = pd.DataFrame(data)

calculate_moving_average(df)

        Date  Sales  MovingAverage
0 2023-01-01    100     100.000000
1 2023-01-02    120     110.000000
2 2023-01-03     90     103.333333
3 2023-01-04     80      97.500000
4 2023-01-05    110     100.000000
5 2023-01-06    130     105.000000
6 2023-01-07    105     105.000000

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:
Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [36]:
import pandas as pd

def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-10-10']}
df = pd.DataFrame(data)

add_weekday_column(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday
5 2023-10-10    Tuesday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [27]:
import pandas as pd

date_range = pd.date_range(start='2023-01-15', end='2023-02-15')
df = pd.DataFrame({'Date': date_range})

# Function to select rows between '2023-01-01' and '2023-01-31'
def select_rows_between_dates(df):
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')
    return df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

select_rows_between_dates(df)

         Date
0  2023-01-15
1  2023-01-16
2  2023-01-17
3  2023-01-18
4  2023-01-19
5  2023-01-20
6  2023-01-21
7  2023-01-22
8  2023-01-23
9  2023-01-24
10 2023-01-25
11 2023-01-26
12 2023-01-27
13 2023-01-28
14 2023-01-29
15 2023-01-30
16 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

Ans. To use the basic functions of pandas, the first and foremost library that needs to be imported is the pandas library itself. You can import it using the following line of code:

In [ ]:
import pandas as pd