Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas Series function on the
variable print it.

In [10]:
import pandas as pd
variable = [1,2,3,4,'Five',6,7,8,9,'Ten']
series = pd.Series(variable)

print(series)

0       1
1       2
2       3
3       4
4    Five
5       6
6       7
7       8
8       9
9     Ten
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:
Name           Age            Gender
Alice          25             Female
Bob            30             Male
Claire         27             Female
Then, print the DataFrame.

In [10]:
import pandas as pd
from tabulate import tabulate
data = {
    'Name' : ['Alice', 'Bob', 'Claire'],
    'Age' : [25, 30, 27],
    'Gender' : ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

table = tabulate(df, headers='keys', tablefmt='grid', showindex = False)

print(table)

+--------+-------+----------+
| Name   |   Age | Gender   |
+========+=======+==========+
| Alice  |    25 | Female   |
+--------+-------+----------+
| Bob    |    30 | Male     |
+--------+-------+----------+
| Claire |    27 | Female   |
+--------+-------+----------+

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans. In Pandas, a DataFrame is a two-dimensional, size-mutable, and heterogeneous data structure that is used to store and manipulate tabular data. It is one of the most commonly used data structures in Pandas and can be thought of as a table with rows and columns, where each column can have a different data type.

The main difference is that a Series is a one-dimensional data structure with a single column of data, while a DataFrame is a two-dimensional data structure that can hold multiple columns, making it suitable for tabular data with different attributes. You can perform operations on both Series and DataFrames, but DataFrames are generally used for more complex data analysis tasks involving multiple variables.

In [11]:
import pandas as pd

# Creating a Pandas Series
series_data = pd.Series([10, 20, 30, 40, 50], name='Numbers')

# Creating a Pandas DataFrame
data = {'Name': ['Shobha', 'Suman', 'Saloni'],
        'Age': [55, 30, 27],
        'Gender': ['Female', 'Female', 'Female']}

df = pd.DataFrame(data)

print("Pandas Series:")
print(series_data)
print("\n")

print("Pandas DataFrame:")
print(df)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
Name: Numbers, dtype: int64


Pandas DataFrame:
     Name  Age  Gender
0  Shobha   55  Female
1   Suman   30  Female
2  Saloni   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Ans. Pandas provides a wide range of functions and methods to manipulate data in a Pandas DataFrame.

1. Selection and Indexing:

'df[column_name]' or 'df.column_name' : To select a specific column.
'df.loc[row_label]' : To select specific rows or elements by label.
'df.iloc[row_index]' : To select specific rows or elements by integer index.

2. Filtering and Querying:

'df[df['column_name'] > value]' : To filter rows based on a condition.
'df.query('condition')': To query the DataFrame using a string expression.

3. Sorting:

'df.sort_values(by='column_name', ascending=False)': To sort the DataFrame by a specific column.


4. Aggregation and Summary Statistics:

'df.groupby('column_name').agg({'column_to_aggregate': 'function'})': To group data by a column and apply aggregation functions (e.g., sum, mean, count).


5. Merging and Joining:

'pd.concat([df1, df2])': To concatenate DataFrames vertically or horizontally.
'pd.merge(df1, df2, on='common_column')': To merge DataFrames based on a common column.

Q6. Which of the following is mutable in nature?
i) Series, 
ii) DataFrame, 
iii) Panel

Ans. Series is mutable in nature. You can change the values of individual elements within a Pandas Series after it has been created.

DataFrame is also mutable. You can modify the values, add or remove columns, and perform various operations to change the structure and content of a DataFrame.

Panel is not mutable in nature.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [16]:
import pandas as pd

# Create multiple Series
names = pd.Series(['Shobha', 'Suman', 'Saloni'])
ages = pd.Series([55, 50, 57])
genders = pd.Series(['Female', 'Female', 'Female'])

# Create a DataFrame by combining the Series
data = {'Name': names, 'Age': ages, 'Gender': genders}
df = pd.DataFrame(data)

print(df.to_string(index=False))

  Name  Age Gender
Shobha   55 Female
 Suman   50 Female
Saloni   57 Female