In [15]:
#Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [11]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans. 

1. loc (label-based selection):
It is primarily used for selecting data based on labels or index names.
You specify the row and column labels explicitly.
It includes the last element when using slicing, similar to typical Python slicing.
Example: df.loc[2, 'column_name'] or df.loc['row_label', 'column_name'].

2. iloc (integer-based selection):
It is used for selecting data based on integer positions (0-based integer indexing).
You specify the row and column positions using integers.
It follows Python's convention of excluding the last element when using slicing.
Example: df.iloc[2, 1] selects the value in the third row and second column.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [31]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
reindex = [3,0,1,2]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

new_df = df.reindex(reindex)

print(new_df)
print('\n',new_df.loc[2])
print('\n',new_df.iloc[2])

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

 course_name    Big Data
duration              6
Name: 2, dtype: object

 course_name    Machine Learning
duration                      3
Name: 1, dtype: object

There is a difference in both the outputs because "new_df.loc[2]" returns the row with the label/index 2 (i.e. 'Big Data' with duration 6) and "new_df.iloc[2]" returns the row at the integer position 2 (i.e. 'Machine Learning' with duration 3).

In [21]:
#Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.220864  0.133417  0.987204  0.253227  0.493795  0.465819
2  0.845149  0.447131  0.836294  0.024521  0.365114  0.431489
3  0.577677  0.010830  0.876460  0.159415  0.226369  0.500123
4  0.642852  0.081175  0.267516  0.280600  0.440846  0.724595
5  0.454386  0.439022  0.792462  0.665780  0.797604  0.320798
6  0.712897  0.922251  0.198860  0.228556  0.308720  0.747624

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [22]:
df1.mean()

column_1    0.575637
column_2    0.338971
column_3    0.659799
column_4    0.268683
column_5    0.438741
column_6    0.531741
dtype: float64

In [26]:
df1['column_2'].std()

0.3400919386267409

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [35]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

df1.loc[2, 'column_2'] = 'Abhi'

# Calculate the mean of 'column_2' (excluding non-numeric values)
mean_column_2 = df1['column_2'].mean()

print("Mean of 'column_2':", mean_column_2)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

We're assigning the string 'Abhi' to the cell in the second row of 'column_2'. This means that 'column_2' now contains both numeric and non-numeric (string) values. When you try to calculate the mean of 'column_2' using df1['column_2'].mean(), it encounters the non-numeric value 'Abhi', resulting in a TypeError.

Q6. What do you understand about the windows function in pandas and list the types of windows functions?

Ans. In Pandas, window functions are used to perform calculations over a specified "window" or range of rows in a DataFrame. These functions enable you to compute aggregated or transformed values on a rolling or expanding basis, which is useful for tasks like time series analysis, signal processing, and data smoothing.

Rolling Window Functions -
rolling(): This function creates a rolling view over the data, allowing you to apply operations over a fixed-size window that moves through the DataFrame.


Expanding Window Functions - 
expanding(): This function creates an expanding view over the data, enabling you to compute cumulative operations over all preceding rows.


Exponentially Weighted Window Functions - 
ewm(): This function is used for calculating exponentially weighted moving averages (EWMA), which give more weight to recent data points and are commonly used in time series analysis. You can adjust the span, center of mass, and other parameters to control the decay rate of older data.


Custom Window Functions - 
You can define and apply custom window functions using the apply() method in combination with a custom function that operates on the window.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [36]:
import pandas as pd

current_date = pd.Timestamp.now()

# Extract the current month and year
current_month = current_date.month
current_year = current_date.year

# Print the results
print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 10
Current Year: 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [1]:
import pandas as pd

date1_str = input("Enter the first date (YYYY-MM-DD): ")

date2_str = input("Enter the second date (YYYY-MM-DD): ")

try:
   
    date1 = pd.to_datetime(date1_str)
    date2 = pd.to_datetime(date2_str)

    time_difference = date2 - date1

    days = time_difference.days
    hours, remainder = divmod(time_difference.seconds, 3600)
    minutes = remainder // 60

    print("Time difference: {} days, {} hours, and {} minutes.".format(days, hours, minutes))

except ValueError:
    print("Invalid date format. Please use the format YYYY-MM-DD.")
except Exception as e:
    print("An error occurred:", e)

Enter the first date (YYYY-MM-DD):  2023-10-15
Enter the second date (YYYY-MM-DD):  2023-12-15

Time difference: 61 days, 0 hours, and 0 minutes.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [2]:
import pandas as pd

file_path = input("Enter the CSV file path: ")

try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please check the file path.")
    exit(1)


print("Available columns:")
print(df.columns)

column_name = input("Enter the column name to convert to categorical: ")

category_order = input("Enter the category order (comma-separated, e.g., 'Low,Medium,High'): ")
categories = [category.strip() for category in category_order.split(',')]

try:
    df[column_name] = pd.Categorical(df[column_name], categories=categories, ordered=True)
except KeyError:
    print(f"Column '{column_name}' not found in the CSV.")
    exit(1)

sorted_df = df.sort_values(by=column_name)

# Display the sorted data
print("Sorted Data:")
print(sorted_df)

Enter the CSV file path:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

Available columns:
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Enter the column name to convert to categorical:  Name
Enter the category order (comma-separated, e.g., 'Low,Medium,High'):  High

Sorted Data:
     PassengerId  Survived  Pclass Name     Sex   Age  SibSp  Parch  \
0              1         0       3  NaN    male  22.0      1      0
1              2         1       1  NaN  female  38.0      1      0
2              3         1       3  NaN  female  26.0      0      0
3              4         1       1  NaN  female  35.0      1      0
4              5         0       3  NaN    male  35.0      0      0
..           ...       ...     ...  ...     ...   ...    ...    ...
886          887         0       2  NaN    male  27.0      0      0
887          888         1       1  NaN  female  19.0      0      0
888          889         0       3  NaN  female   NaN      1      2
889          890         1       1  NaN    male  26.0      0      0
890          891         0       3  NaN    male  32.0      0      0

               Ticket     Fare Cabin Embarked
0           A/5 21171   7.2500   NaN        S
1            PC 17599  71.2833   C85        C
2    STON/O2. 3101282   7.9250   NaN        S
3              113803  53.1000  C123        S
4              373450   8.0500   NaN        S
..                ...      ...   ...      ...
886            211536  13.0000   NaN        S
887            112053  30.0000   B42        S
888        W./C. 6607  23.4500   NaN        S
889            111369  30.0000  C148        C
890            370376   7.7500   NaN        Q

[891 rows x 12 columns]

Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = input("Enter the CSV file path: ")

try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please check the file path.")
    exit(1)


date_column = 'Date'
product_category_columns = ['Category1', 'Category2', 'Category3', 'Category4']

df_grouped = df.groupby(date_column)[product_category_columns].sum()

ax = df_grouped.plot(kind='bar', stacked=True, figsize=(10, 6))

plt.title('Stacked Bar Chart of Sales by Product Category Over Time')
plt.xlabel('Date')
plt.ylabel('Total Sales')

plt.legend(title='Product Categories')

plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+


Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd
import statistics

file_path = input("Enter the file path of the CSV file containing student data: ")

try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print("File not found. Please check the file path.")
    exit(1)

test_scores = df['Test Score']

mean_score = statistics.mean(test_scores)
median_score = statistics.median(test_scores)
mode_score = statistics.multimode(test_scores)

results = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean_score, median_score, ', '.join(map(str, mode_score))]
})

print(results)