Q1. Create one variable containing following type of data:

In [ ]:
(i) string

In [1]:
a = "spring"

In [2]:
type (a)

str

(ii) list

In [6]:
b = [1,2,3,4, "Abhi", 2 + 5j, "Gusain"]

In [10]:
type (b)

list

(iii) float

In [11]:
c = 27.95

In [12]:
type (c)

float

(iv) tuple

In [13]:
d = (1,2,3,4, 'Abhi', 3 + 9j, "Gusain")

In [14]:
type (d)

tuple

Q2. Given are some following variables containing data:
What will be the data type of the above given variable.

(i) var1 = ‘ ‘      - it will have a string data type

In [15]:
var1 = ' '

In [16]:
type (var1)

str

(ii) var2 = ‘[ DS , ML , Python]’     - it will have a string data type

In [17]:
var2 = '[DS, ML, Python]'

In [18]:
type (var2)

str

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]       - it will have a list data type

In [19]:
var3 = ['DS', 'ML', 'Python']

In [20]:
type (var3)

list

(iv) var4 = 1.          - it will have a float data type

In [21]:
var4 = 1.

In [22]:
type (var4)

float

Q3. Explain the use of the following operators using an example:

(i) /

In [23]:
100/20       #This is a Division operator

5.0

(ii) %

In [24]:
100%11       #This is a Modulus operator

1

(iii) //

In [25]:
100//11       #This is a Floor Division operator

9

(iv) **

In [26]:
10**3          #This is a Exponentiation operator

1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [28]:
f = [1,2,3,4,"Abhi", 'Gusain', 5 + 9j]
for i in f :
    print (i)

1
2
3
4
Abhi
Gusain
(5+9j)

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [40]:
print("Enter value of A")
A = int(input())
print("Enter value of B")
B = int(input())

while B< A :
    if A % B == 0 :
        i = A/B
        print ("A is divisible by B")
        print (i)
        print ("times")
        break
    else :
        print ("B is not divisible by A")
        break

Enter value of A

 50

Enter value of B

 10

A is divisible by B
5.0
times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [43]:
j = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for k in j :
    if k % 3 == 0 :
        print(k)
        continue
    else :
        continue

3
6
9
12
15
18
21
24

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable is when something is changeable or has the ability to change. In Python, ‘mutable’ is the ability of objects to change their values. These are often the objects that store a collection of data. Eg. list, dict, set

In [2]:
l = [5,6,7,8,9+2j, "Swaraj", 'Disney']

In [3]:
type (l)

list

In [4]:
l[5]

'Swaraj'

In [5]:
l[5] = 1000

In [6]:
l        #checking if the data has been replaced at l[5] index i.e checking mutability

[5, 6, 7, 8, (9+2j), 1000, 'Disney']

Immutable objects are of in-built datatypes like int, float, bool, string, Unicode, and tuple. In simple words, an immutable object can’t be changed after it is created.

In [7]:
m = (5,6,7,8,9+2j, "Swaraj", 'Disney')    #immutability example

In [8]:
type (m)

tuple

In [9]:
m[5]

'Swaraj'

In [10]:
m[5] = 1000    #checking if data can be replaced at the m[5] index i.e checking mutability

TypeError: 'tuple' object does not support item assignment